code_react.cmd
code.cmd
Notes.txt
node-v24.11.0-win-x64/
VSCode-react/.gitignore
VSCode-react/

target/classes/CinephileConfrerie/VideoClub/model/Avis.class
workspace-react/videoclub/README.md
workspace-react/videoclub/public/favicon.ico
workspace-react/videoclub/public/logo192.png
target/classes/CinephileConfrerie/VideoClub/VideoClubApplication.class
target/classes/CinephileConfrerie/VideoClub/model/Account.class
target/classes/CinephileConfrerie/VideoClub/model/Avis.class
target/classes/CinephileConfrerie/VideoClub/model/Playlist.class
target/classes/CinephileConfrerie/VideoClub/model/TagActeur.class
target/classes/CinephileConfrerie/VideoClub/model/TagGenre.class
target/classes/CinephileConfrerie/VideoClub/model/Media/Bilbiotheque.class
target/classes/CinephileConfrerie/VideoClub/model/Media/Saison.class
target/classes/CinephileConfrerie/VideoClub/model/Media/Serie.class
target/classes/CinephileConfrerie/VideoClub/repository/TagsRepository.class
target/test-classes/CinephileConfrerie/VideoClub/VideoClubApplicationTests.class
target/classes/CinephileConfrerie/VideoClub/VideoClubApplication.class
target/classes/CinephileConfrerie/VideoClub/model/Account.class
target/classes/CinephileConfrerie/VideoClub/model/Avis.class
target/classes/CinephileConfrerie/VideoClub/model/Playlist.class
target/classes/CinephileConfrerie/VideoClub/model/TagActeur.class
target/classes/CinephileConfrerie/VideoClub/model/TagGenre.class
target/classes/CinephileConfrerie/VideoClub/model/Media/Bilbiotheque.class
target/classes/CinephileConfrerie/VideoClub/model/Media/Saison.class
target/classes/CinephileConfrerie/VideoClub/model/Media/Serie.class
target/classes/CinephileConfrerie/VideoClub/repository/TagsRepository.class
target/test-classes/CinephileConfrerie/VideoClub/VideoClubApplicationTests.class
