/* Main app style */

.App {
  text-align: center;
  color : white;
}

/* Header */

.App-header {
  background: linear-gradient(90deg, #e022f1, #3b82f6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.App-logo{
  width : 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.8;
}

/* Body  */

.App-body {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
