h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    color : black;
    margin-top: 40px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin-bottom: 40px;
}

label {
    color: black;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    cursor: pointer;
}